local.properties
vsbuild
build
out
cmake-build-debug
cmake-build-release
cmake-build-debug-visual-studio
dependencies/SDL
dependencies/Assimp
.idea
.gradle
.cxx
.externalNativeBuild
.vs
platform/android/app/app.iml
platform/android/android.iml
assets
data/sanmiguel
cmake-build-relwithdebinfo
data/cornell
data/bistro
dependencies/ImguiPlatform/imgui
data/pica pica
data/medieval
.DS_Store
data/newsponza
data/emeraldsquare
data/forest
CMakeSettings.json
.vscode/settings.json
xcode
bin
data/dump.txt
data/subway
data/material demo
data/emissivesphere.gltf
data/.cache
data/.config
data/.config
